@page "/folders"
@using CTFChallenge.Shared
@using CTFChallenge.Client.Components
@inject HttpClient Http

<PageTitle>Folders</PageTitle>

<h1>Directory structure</h1>

<p>Here you can upload files to the server</p>
<p>Currently showing: <b>@(Directory?.Path ?? CurrentPath)</b></p>

@if (Directory is null)
{
    <p><em>Filling directory...</em></p>
}
else
{
    <CascadingValue Value="@CurrentPath">
        <ol prefix="">
            <DirectoryTree Directory="@Directory" DirectoryChanged="OnDirectoryChanged" />
        </ol>
    </CascadingValue>
}

@code {
    [Parameter]
    public string CurrentPath { get; set; } = ".";
    private Directory? Directory;


    protected override async Task OnInitializedAsync()
    {
        await OnDirectoryChanged(CurrentPath);
    }

    private async Task OnDirectoryChanged(string path)
    {
        Directory = await Http.GetFromJsonAsync<Directory>($"Directory?path={path}");
        StateHasChanged();
    }
}
